<?xml version="1.0" encoding="utf-8"?>
<ConfigData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <configVersion>1</configVersion>
  <updateCheck>1599303370</updateCheck>
  <skipVersion>
    <Major>0</Major>
    <Minor>0</Minor>
  </skipVersion>
  <toolTips>true</toolTips>
  <avrdudeLoc />
  <avrdudeConfLoc />
  <avrSizeLoc />
  <windowLocation>
    <X>306</X>
    <Y>153</Y>
  </windowLocation>
  <language>english</language>
  <hiddenMCUs />
  <hiddenProgrammers />
  <previousSettings>
    <programmer>buspirate</programmer>
    <mcu>m328p</mcu>
    <port>COM5</port>
    <baud>115200</baud>
    <bitclock />
    <flashFile>C:\Projekti\PlasmaSpeaker\PlasmaSpeaker\Debug\PlasmaSpeaker.hex</flashFile>
    <flashFormat>a</flashFormat>
    <flashOp>w</flashOp>
    <EEPROMFile />
    <EEPROMFormat>a</EEPROMFormat>
    <EEPROMOp>w</EEPROMOp>
    <force>false</force>
    <disableVerify>false</disableVerify>
    <disableFlashErase>false</disableFlashErase>
    <eraseFlashAndEEPROM>false</eraseFlashAndEEPROM>
    <doNotWrite>false</doNotWrite>
    <lfuse>0xFF</lfuse>
    <hfuse>0xDE</hfuse>
    <efuse>0xFD</efuse>
    <setFuses>true</setFuses>
    <lockBits>0xFF</lockBits>
    <setLock>false</setLock>
    <additional />
    <verbosity>0</verbosity>
    <name />
  </previousSettings>
  <usePreviousSettings>true</usePreviousSettings>
  <windowSize>
    <Width>1509</Width>
    <Height>841</Height>
  </windowSize>
</ConfigData>